body {
  width: 400px;
  height: 580px;
  padding-top: 0;
  padding-bottom: 0;
}

#container {
  font-family: 'Open Sans', sans-serif;
	height: 580px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
}

.title {
	font-family: 'Montserrat', sans-serif;
}

.row {
	display: flex;
	align-items: center;
	padding-top: 20px;
}

img {
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

#summary {
	border-top: 0.7px solid lightgray;
}

ul {
	padding-left: 32px;
}

li, p {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#links {
	padding-left: 17px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
	margin-bottom: 5px;
}

._button {
	background-color: #6bd7e7;
	box-shadow: 2px 2px 1px 1px #2190a1, 
							2px 2px 1px 1px #2190a1;
}